@font-face {
    font-family: Hello;
    src: url(fonts/ChicagoRegular-8MYPn.otf);
}

@font-face {
    font-family: body;
    src: url(fonts/AlishiaMekayla-yw5o5.otf);
}

body {
    background-color: #86bbe8;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #86bbe8 20%, #86bbe8 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #86bbe8 20%, #86bbe8 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#d2d2da 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #d2d2da 2px, #86bbe8 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.body-text {
    font-family: body;
    color: black;
    background-color:#f6f6fc;
    padding-left: .4cm;
    margin-left: 2cm;
    margin-right: 2cm;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text {
    color: black;
    background-color: #f6f6fc;
    margin-left: 2cm;
    margin-right: 2cm;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    
}

.page-title {
    color: rgb(0, 0, 0);
    background-color: #f6f6fc;
    text-align: center;
    text-transform: uppercase;
    margin-left: 25%;
    padding-top: .5%;
    margin-right: 25%;
    font-size: 300%, 300%, 400%;
    font-family: hello;
    text-shadow: 100%;
}
 .main{
     flex: 1 1 ;
     flex-grow: 4;
     display: flex;
     display: inline-block;
     
 }

.image-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.thumbnail-array {
    margin-left: .5cm;
    display: flex;
    flex: 2 1 auto;
    justify-content: space-between;
    list-style: none;
    display: inline-block;
    overflow-x: auto;
    align-items: center;
    margin-bottom: 1cm;
    
}

.thumbnail-item {
    border: 3px solid rgb(241, 240, 240);
    border: 3px solid rgba(153, 150, 150, 0.8);
    display: inline-block;
    height: 200px;
    padding-left: -.2cm;
    transition: transform 140ms ease-in-out
}



.thumbnail-item:hover {
    transform: scale(.9);
    transition: transform 400ms ease-out;
}

.thumbnail-image {
    display: block;
    height: 100%
}


.detail-container {
    flex: 1 1 auto;
    display: flex;
    margin-bottom: 25%
 
}

.detail-frame {
    position: absolute;
    text-align: center;
}

.thumbnail-title {
    background-color: #f6f6fc;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



